.bg-danger {
	padding:20px 35px 15px 15px;
}

.bg-danger h2 {
	margin-top: 0;
}

.md_img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.mar_t15 {
	margin-top: 15px;
}


footer{
    font-weight: 400;
    text-align: center;
    padding:20px ;
}






